body {
  margin: 0;
  padding: 0;
  font-family: "Palatino", "Palatino Linotype", "URW Palladio L", "Book Antiqua", "Tex Gyre Pagella", "Charter", "Bitstream Charter", "Georgia", serif;
  font-feature-settings: "liga", "kern";
  font-size: 15px;
  border-top: 2.5em solid #FFDA22;
  background-color: #FFFDFB;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: #404040; }

h1 {
  font-size: 15px; }

header {
  margin: 3em 0;
  line-height: 1em; }

.pub-info {
  font-style: italic; }

a {
  text-decoration: none;
  color: #C69300; }

article {
  width: 32em;
  margin: 0 auto; }

p {
  line-height: 1.5em;
  margin-bottom: 1.4em; }
