$accent-color:     #FFDA22;
$ui-color:         #e6b302;
$text-link-color:  #C69300;

$background-color: #FFFDFB;
$text-color:       #404040;

$serif-font-family: "Palatino", "Palatino Linotype", "URW Palladio L", "Book Antiqua", "Tex Gyre Pagella", "Charter", "Bitstream Charter", "Georgia", serif;
$sans-font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Roboto", "Helvetica", "Arial",  sans-serif;

$text-font-family: $serif-font-family;
$base-font-size: 18px;
$text-container-width: 34rem;
$text-line-height: 1.5em;

$ui-font-family: $sans-font-family;

@mixin text-container() {
  max-width: $text-container-width;
  margin-left: auto;
  margin-right: auto;
}

html {
  font-size: $base-font-size;
  font-feature-settings: "liga", "kern";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  padding: 0 $text-line-height;
  border-top: 2.4rem solid $accent-color;
  background-color: $background-color;
  font-family: $text-font-family;
  color: $text-color;
}

h1 {
  font-size: $base-font-size;
  margin: 0.25em 0;
}

header {
  margin: 4em 0;
  line-height: $text-line-height;
}

.pub-info {
  font-style: italic;
}

a {
  text-decoration: none;
  color: $text_link_color;
  &:hover {
    text-decoration: underline;
  }
}

article {
  @include text-container();
}

p {
  line-height: $text-line-height;
  margin-bottom: 1.4em;
}

#navbar {
  font-size: 0.7rem;
  text-transform: uppercase;
  font-family: $ui-font-family;
  font-weight: bold;
  color: $ui-color;
  margin: 4rem 0;
  @include text-container();
  ul {
    list-style: none;
    padding: 0;
  }
  li {
    display: inline;
  }
  a {
    color: $ui-color;
  }
}

#dollar {
  width: 2em;
  padding: 0.2em 0.5em;
  background-color: #f6ebda;
  // background-color: #f6f1e5;
  text-align: center;
  color: $background-color;
  // color: $text-color;
  // border: 1px solid $text-color;
  margin: 0 auto;
  margin-top: 8em;
  margin-bottom: 5em;
  line-height: 1em;
  // font-family: $serif-font-family;
  font-family: $ui-font-family;
}
