html {
  font-size: 20px;
  font-feature-settings: "liga", "kern";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility; }

body {
  margin: 0;
  padding: 0 1.5em;
  border-top: 0.5rem solid #fed730;
  background-color: #FFFDFB;
  font-family: "Palatino", "Palatino Linotype", "URW Palladio L", "Book Antiqua", "Tex Gyre Pagella", "Charter", "Bitstream Charter", "Georgia", serif;
  color: black; }

h1 {
  font-size: 20px;
  margin: 0em 0;
  line-height: 1.4em; }

header {
  margin: 4em 0;
  line-height: 1.5em; }

.pub-info {
  font-style: italic;
  font-size: 0.9em;
  line-height: 1.5em; }

a {
  text-decoration: none;
  color: #c79204; }
  a:hover {
    text-decoration: underline; }

article {
  max-width: 34rem;
  margin-left: auto;
  margin-right: auto; }

p {
  line-height: 1.5em;
  margin-bottom: 1.4em; }

#navbar {
  font-size: 0.66rem;
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: bold;
  color: #dfae04;
  margin: 4rem 0;
  position: relative;
  right: 0.4em;
  line-height: 2em;
  max-width: 34rem;
  margin-left: auto;
  margin-right: auto; }
  #navbar ul {
    list-style: none;
    padding: 0; }
  #navbar li {
    display: inline; }
  #navbar a {
    letter-spacing: 0.02em;
    color: #dfae04;
    padding: 0.2em 0.4em;
    border-radius: 0.2em;
    position: relative;
    bottom: 0;
    transition-duration: 100ms; }
    #navbar a:hover {
      text-decoration: none;
      bottom: 0.2em; }

.nav-item-location {
  border: 0.11em solid #dfae04; }

#dollar {
  width: 2em;
  padding: 0.2em 0.5em;
  text-align: center;
  background-color: #FFFDFB;
  color: #666666;
  border: 0.05em solid #666666;
  margin: 0 auto;
  margin-top: 8em;
  margin-bottom: 5em;
  line-height: 1em;
  font-family: "Palatino", "Palatino Linotype", "URW Palladio L", "Book Antiqua", "Tex Gyre Pagella", "Charter", "Bitstream Charter", "Georgia", serif; }
