body {
  margin: 0;
  padding: 0;
  margin: 0 0.5em;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none;
  font-size: 17px;
  font-family: Charter, Georgia, "Times New Roman", serif;
  color: #444; }
  @media (min-width: 750px) {
    body {
      font-size: 18px;
      margin: 0; } }

p {
  line-height: 1.8em;
  margin: 0; }

article {
  max-width: 44em;
  width: 90%;
  margin: 0 auto; }

section p {
  margin: 0;
  margin-bottom: 2em; }
  section p:first-of-type {
    font-size: 1.2em;
    margin-bottom: 2em;
    padding: 0;
    font-style: italic; }
    @media (min-width: 750px) {
      section p:first-of-type {
        margin-bottom: 2.4em; } }
  @media (min-width: 750px) {
    section p {
      padding: 0 5em; } }

header {
  font-family: Overpass, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  color: #fe5f5f;
  margin: 0;
  margin-bottom: 1.6em; }
  @media (min-width: 750px) {
    header {
      margin-bottom: 1.5em; } }

h1 {
  font-size: 2.4em;
  line-height: 1.4em;
  padding: 0.8em 0;
  border-bottom: 0.06em solid #fe5f5f;
  margin: 0; }
  @media (min-width: 750px) {
    h1 {
      font-size: 2.8em;
      line-height: 1.55em;
      border-bottom: 0.06em solid #fe5f5f;
      border: 0.08em solid #fe5f5f;
      padding: 0.55em 0.9em; } }

.pub-info {
  position: relative;
  font-size: 0.8em;
  top: -1.2em;
  font-weight: 600;
  background-color: white;
  max-width: 60%;
  display: inline-block;
  box-sizing: border-box;
  padding-right: 0.8em; }
  @media (min-width: 750px) {
    .pub-info {
      font-weight: 700;
      padding: 0 1em;
      left: 2.6em;
      max-width: none; } }

a {
  color: #fe5f5f; }

#navbar {
  font-family: Overpass, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: 600;
  font-size: 0.8em;
  width: 90%;
  margin: auto;
  margin-top: 2em;
  text-align: center; }
  @media (min-width: 750px) {
    #navbar {
      margin-bottom: 4em; } }
  #navbar ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    overflow: auto; }
  #navbar li {
    padding: 1em 2.4em;
    list-style-type: none;
    float: left; }
    @media (min-width: 750px) {
      #navbar li {
        padding: 1em 3.6em; } }
  #navbar a {
    color: #ccc3bc;
    text-decoration: none; }

#dollar {
  width: 2em;
  padding: 0.1em 0.6em;
  background-color: #f0e8e3;
  text-align: center;
  color: white;
  margin: 0 auto;
  margin-top: 4em;
  margin-bottom: 5em; }
