$title-color: red;

body {
  font-size: 16px;
  font-family: Charter, Georgia, "Times New Roman", serif;
}

p {
  line-height: 1.8em;
  margin: 0;
}

article {
  width: 48em;
  margin: 0 auto;
}

section {
  p {
    padding: 0 6em;
    margin: 0;
    margin-bottom: 2em;
    &:first-of-type {
      font-size: 1.25em;
      padding: 0;
      margin-bottom: 2.4em;
    }
  }
}

header {
  font-family: Overpass, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $title-color;
  margin: 2.4em 0;
}

h1 {
  font-size: 3.2em;
  margin: 0;
  padding: 0.66em 0;
  border-bottom: 0.04em solid $title-color;
}

.pub-info {
  position: relative;
  top: -1.2em;
  font-size: 0.8em;
  font-weight: 600;
  background-color: white;
  padding-right: 1em;
}

a {
  color: $title-color;
}
