// $title-color: rgb(255, 78, 78);
// $title-color: #fe5f5f;
// $title-color: rgb(255, 175, 40);
$title-color: #fe4d4d;
$width: 90%;
$serif: Charter, Georgia, "Times New Roman", serif;
$sans: Overpass, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$media-medium: 750px;
// $media-small: 500px;

body {
  margin: 0;
  padding: 0;
  margin: 0 0.5em;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none;
  font-size: 17px;
  font-family: $serif;
  color: #444;
  @media (min-width: $media-medium) {
    font-size: 19px;
    margin: 0;
  }
}

p {
  line-height: 1.8em;
  // line-height: 1.7em;
  margin: 0;
}

article {
  // max-width: 32em;
  // max-width: 40em;
  max-width: 42em;
  width: 90%;
  margin: 0 auto;
  position: relative;
  // right: 4em;
}

section {
  p {
    margin: 0;
    margin-bottom: 2em;
    &:first-of-type {
      font-size: 1.2em;
      // line-height: 1.7em;
      margin-bottom: 2em;
      padding: 0;
      font-style: italic;
      @media (min-width: $media-medium) {
        margin-bottom: 2.4em;
      }
    }
    @media (min-width: $media-medium) {
      // padding: 0 3em;
      padding: 0 4.5em;
      // padding-right: 8em;
    }
  }
}

header {
  // font-size: 0.95em;
  font-family: $sans;
  color: $title-color;
  margin: 0;
  margin-bottom: 1.6em;
  @media (min-width: $media-medium) {
    margin-bottom: 1.5em;
    // margin-bottom: 1.4em;
    // font-size: 1em;
  }
}

h1 {
  font-size: 2.4em;
  font-weight: 800;
  line-height: 1.4em;
  padding: 0.8em 0;
  border-bottom: 0.06em solid $title-color;
  margin: 0;
  @media (min-width: $media-medium) {
    font-size: 2.8em;
    line-height: 1.55em;
    // line-height: 1.6em;
    border-bottom: 0.06em solid $title-color;
    border: 0.08em solid $title-color;
    // border: 0.1em solid $title-color;
    // padding: 0.75em 0;
    // padding: 0.6em 0.9em;
    padding: 0.55em 0.9em;

    // padding-bottom: 0.6em;
    // padding-top: 0.6em;
  }
}

.pub-info {
  position: relative;
  font-size: 0.8em;
  top: -1.2em;
  font-weight: 600;
  background-color: white;
  max-width: 66%;
  display: inline-block;
  box-sizing: border-box;
  padding-right: 0.8em;
  @media (min-width: $media-medium) {
    font-weight: 700;
    padding: 0 1em;
    left: 2.6em;
    max-width: none;
  }
}

a {
  color: $title-color;
}

#navbar {
  font-family: $sans;
  font-weight: 600;
  font-size: 0.8em;
  width: $width;
  margin: auto;
  margin-top: 2em;
  text-align: center;
  @media (min-width: $media-medium) {
    margin-bottom: 4em;
  }
  ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    overflow: auto;
  }
  li {
    padding: 1em 2.4em;
    list-style-type: none;
    float: left;
    @media (min-width: $media-medium) {
      padding: 1em 3.6em;
    }
  }
  a {
    color: #ccc3bc;
    text-decoration: none;
  }
}

#dollar {
  width: 2em;
  padding: 0.1em 0.6em;
  background-color: #f0e8e3;
  text-align: center;
  color: white;
  margin: 0 auto;
  margin-top: 8em;
  margin-bottom: 5em;
}
