$sans: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif !default;
$max-width: 32em;
$width: 80%;

body {
  font-family: $sans;
  font-weight: 400;
  font-size: 15px;
  margin: 0;
  margin-bottom: 6em;
}

p {
  width: $width;
  max-width: $max-width;
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 2em;
  line-height: 1.8em;
  // color: #262626;
  color: #7F7F7F;
}

#navbar {
  width: $width;
  max-width: $max-width;
  margin: auto;
  margin-top: 4em;
  margin-bottom: 4em;
  text-align: center;
  ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    // display: block;
    overflow: auto;
  }
  li {
    // padding: 1.2em;
    // padding: 2em;
    padding: 2em;
    list-style-type: none;
    float: left;
  }
}

a {
  color: #ccc3bc;
  // color: #c1b8b1;
  // color: #cfcfcf;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

#about {
  // padding: 3em;
}

#dollar {
  width: 2em;
  padding: 0.15em 0.6em;
  background-color: #f0e8e3;
  text-align: center;
  color: white;
  margin: 0 auto;
  margin-top: 9em;
}
