$sans: -apple-system, BlinkMacSystemFont, "Clear Sans", "Segoe UI", "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif !default;
$max-width: 36em;
$width: 80%;

nav, section { // backwards compat
  display: block;
}

body {
  font-family: $sans;
  font-weight: 400;
  font-size: 15.5px;
  margin: 0;
  margin-bottom: 9em;
  color: #444;
}

p {
  line-height: 1.8em;
  margin-top: 0;
  margin-bottom: 2em;
}

#navbar {
  // width: $width;
  width: 100%;
  margin-top: 2em;
  // margin-bottom: 4em;
  margin-bottom: 2em;
  text-align: center;
  line-height: 1em;
  ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    overflow: auto;
  }
  li {
    padding: 1.8em;
    list-style-type: none;
    float: left;
  }
}

section {
  margin: 0 auto;
}

#about {
  width: $width;
  max-width: $max-width;
  margin: 0 auto;
  padding-top: 2em;
}

#projects {
  text-align: center;
  width: 100%;
  max-width: 72em;
}

a {
  // color: #ccc3bc;
  // color: #d8c3b5;
  color: #c5b0a1;
  // color: #c1b8b1;
  // color: #cfcfcf;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.project {
  // width: 33.333%;
  width: 100%;
  max-width: 24em;
  text-align: left;
  // width: 50%;
  // float: left;
  display: inline-block; // easy rows w/ backwards compatability
  // consider negative margins
  vertical-align: text-top;
  box-sizing: border-box;
  padding: 2em;
  transition-duration: 200ms;
  position: relative;
  bottom: 0em;
  &:hover {
    position: relative;
    bottom: 1em;
  }
}

.project-title {
  text-align: center;
}

img {
  display: block;
  width: 100%;
  // background-color: rgb(249, 240, 234);
}

#dollar {
  width: 2em;
  padding: 0.125em 0.6em;
  background-color: #f0e8e3;
  text-align: center;
  color: white;
  margin: 9em auto;
}
