body {
  font-family: Overpass;
  font-size: 12pt;
  margin: 0; }

p {
  width: 90%;
  max-width: 20em;
  margin: auto;
  margin-top: 0;
  margin-bottom: 2em;
  line-height: 2em;
  color: #7F7F7F; }

#navbar {
  width: 90%;
  max-width: 20em;
  margin: auto;
  margin-top: 4em;
  margin-bottom: 2em;
  text-align: center; }
  #navbar ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    overflow: auto; }
  #navbar li {
    padding: 1.2em;
    list-style-type: none;
    float: left; }
  #navbar #dollars {
    width: 100%; }

a {
  color: #ccc3bc;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

#about {
  padding: 2em; }

#dollar {
  width: 2em;
  padding: 0.1em 0.6em;
  background-color: #f0e8e3;
  text-align: center;
  color: white;
  margin: 0 auto;
  margin-top: 4em;
  margin-bottom: 5em; }
