nav, section {
  display: block; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Clear Sans", "Segoe UI", "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  font-size: 15.5px;
  margin: 0;
  margin-bottom: 9em;
  color: #444; }

p {
  line-height: 1.8em;
  margin-top: 0;
  margin-bottom: 2em; }

#navbar {
  width: 100%;
  margin-top: 4em;
  margin-bottom: 2em;
  text-align: center;
  line-height: 1em; }
  #navbar ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    overflow: auto; }
  #navbar li {
    padding: 1.8em;
    list-style-type: none;
    float: left; }

section {
  margin: 0 auto; }

#about {
  width: 80%;
  max-width: 36em;
  margin: 0 auto;
  padding-top: 2em; }

#projects {
  text-align: center;
  width: 100%; }

a {
  color: #c5b0a1;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.project {
  width: 100%;
  max-width: 24em;
  text-align: left;
  display: inline-block;
  vertical-align: text-top;
  box-sizing: border-box;
  padding: 2em; }

.project-title {
  text-align: center; }

img {
  display: block;
  width: 100%; }

#dollar {
  width: 2em;
  padding: 0.125em 0.6em;
  background-color: #f0e8e3;
  text-align: center;
  color: white;
  margin: 9em auto; }
